<template>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row align="start" justify="center">
        <v-col cols="12" md="8" xl="6">
          <v-expansion-panels accordion>
            <v-expansion-panel v-for="item in data.data" :key="item.id">
              <v-expansion-panel-header>
                {{ item.title }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                {{ item.date }}
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import { mapState } from 'vuex';

export default {
  created() {
    this.$store.dispatch('data/fetchData');
  },
  computed: mapState(['data']),
};
</script>
