<template>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4" xl="3">
          <v-card class="elevation-12 p-4">
            <v-card-title>Registration</v-card-title>
            <v-card-text>
              <v-form @submit.prevent="register">
                <v-text-field
                  label="Username"
                  prepend-icon="mdi-account-circle"
                  v-model="name"
                />
                <v-text-field
                  label="Email"
                  prepend-icon="mdi-at"
                  v-model="email"
                />
                <PasswordInput v-model="password" />
                <v-divider></v-divider>
                <v-card-actions>
                  <v-row>
                    <v-col cols="12">
                      <v-btn block dark color="primary" type="submit">
                        Register
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card-actions>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import PasswordInput from '@/components/PasswordInput.vue';

export default {
  components: {
    PasswordInput,
  },
  data() {
    return {
      name: '',
      email: '',
      password: '',
    };
  },
  methods: {
    register() {
      this.$store
        .dispatch('auth/register', {
          name: this.name,
          email: this.email,
          password: this.password,
        })
        .then(() => {
          this.$router.push({ name: 'dashbord' });
        });
    },
  },
};
</script>
