<template>
  <v-app-bar app color="primary" dark>
    <v-toolbar-title>
      Login App
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <div class="mx-2">
      <v-btn dark text to="/dashbord">Dashbord</v-btn>
    </div>

    <div class="mx-2" v-if="!loggedIn">
      <v-btn class="my-2" dark text to="/login">Login</v-btn>
    </div>
    <div class="mx-2" v-if="loggedIn">
      <v-btn class="my-2" dark text @click="logout">Logout</v-btn>
    </div>
  </v-app-bar>
</template>

<script>
import { authComputed } from '../store/helpers';
export default {
  methods: {
    logout() {
      this.$store.dispatch('auth/logout').then(() => this.$router.push('/'));
    },
  },
  computed: {
    ...authComputed,
  },
};
</script>

<style></style>
