<template>
  <v-text-field
    label="Password"
    :type="showPassword ? 'text' : 'password'"
    prepend-icon="mdi-lock"
    v-bind="$attrs"
    v-on="$listeners"
    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
    @click:append="showPassword = !showPassword"
  />
</template>

<script>
export default {
  data: () => ({
    showPassword: false,
  }),
};
</script>
